{% block _annonce_images_widget %}  {# Lorsque Symfony appele le form_widget pour le champ formulaire annonce_images, le block en cours est traité #}
    <p>Ici, vous pouvez ajouter vos propres images ! </p>
    {{form_widget(form)}} {# la variable form correpond à l'ensemble des champs formulaire associés à l'image #}

    <input type="hidden" id="widgets-counter" value="0">

    <div class="form-group mt-3">
        <button type="button" id="add-image" class="btn btn-primary">
            <i class="fas fa-plus"></i>
            Ajouter une image
        </button>
    </div>
{% endblock %}


{% block _annonce_images_entry_row %}
    {{form_widget(form)}}
{% endblock %}


{% block _annonce_images_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row mt-3">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{form_widget(form.url)}}
                        {{form_errors(form.url)}}
                    </div>
                    <div class="col">
                        {{form_widget(form.caption)}}
                        {{form_errors(form.caption)}}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
            </div>       
        </div>
    </div>
{% endblock %}